<style>
.proj {
    width: 300px;
    height: 300px;
    float: left;
    padding: 3px;
 }
 
 .proj p {display:none;}
</style>
	<div class="wrap bottom">	
		<div class="content">	
		
		<div class="proj">
			<a href="/illustration/sideproj.html">
				<img src="/img/index/01.png">
				<p>Slack, "Side Projects"</p>
				
			</a>
		</div>
		
		
		<div class="proj">
			<a href="/illustration/prog.html">
				<img src="/img/index/02.png">
				<p>The Progressive Magazine, Cover</p>
			</a>
		</div>
		
		
		
		<div class="proj">
			<a href="/illustration/book01.html">
				<img src="/img/index/03.png">
				<p>book series, adventure</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/book01.html#03">
				<img src="/img/index/04.png">
				<p>Slack, "Release Notes"</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/landscapes.html">
				<img src="/img/index/05.png">
				<p>bells & whistles</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/sketches.html">
				<img src="/img/index/06.png">
				<p>Book series, twilight</p>
				
			</a>
		</div>
	
	
	<div class="proj">
		<a href="/illustration/book01.html">
			<img src="/img/index/07.png">
			<p>book series, landscapes</p>
		</a>
	</div>
	
	
	
	<div class="proj">
		<a href="/illustration/book01.html">
			<img src="/img/index/08.png">
			<p>Slack, "on writing"</p>
			
		</a>
	</div>

	
	
	<div class="proj">
		<a href="/illustration/book01.html#03">
			<img src="/img/index/09.png">
			<p>Backgrounds</p>
			
		</a>
	</div>
	
	<div class="proj">
		<a href="/illustration/landscapes.html">
			<img src="/img/index/10.png">
			<p>Postmates</p>
			
		</a>
	</div>
	
	<div class="proj">
		<a href="/illustration/sketches.html">
			<img src="/img/index/11.png">
			<p>Slack, "Style Guide"</p>
			
		</a>
	</div>
	
	
	<div class="proj">
		<a href="/illustration/book01.html#03">
			<img src="/img/index/12.png">
			<p>Slack, products</p>
			
		</a>
	</div>
	
	
		</div> 
	</div>
	
	