

	<div class="wrap">	
		<div class="content">	
		
		<div class="proj">
			<a href="/illustration/bells.html">
				<img src="/index/bells.png">
				<p>Bells & Whistles</p>
				
			</a>
		</div>
		
		
		<div class="proj">
			<a href="/illustration/book01.html">
				<img src="/index/book01.png">
				<p>Book Series 01</p>
			</a>
		</div>
		
		
		
		<div class="proj">
			<a href="/illustration/book01.html">
				<img src="/index/book02.png">
				<p>Book Series 01</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/book01.html#03">
				<img src="/index/book03.png">
				<p>Book Series 01</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/landscapes.html">
				<img src="/index/landscapes.png">
				<p>Emotional Landscapes</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/sketches.html">
				<img src="/index/sketches.png">
				<p>Sketchbook</p>
				
			</a>
		</div>
	
	
		</div> 
	</div>
	
	