<style>
.proj {

    float: left;
    padding: 15px;
 }
 
</style>
	<div class="wrap bottom" data-scroll-speed="2">	
		<div class="content">	
			

		
		<div class="proj">
			<a href="/illustration/sideproj.html">
				<img src="/img/index/columbus.png">
				<p>Holiday traditions (Columbus Monthly, cover)</p>
				
			</a>
		</div>

		
		<div class="proj">
			<a href="/illustration/prog.html">
				<img src="/img/index/prog.png">
				<p>Building stronger communities (The Progressive, cover)</p>
			</a>
		</div>
		
		
		
		<div class="proj">
			<a href="/illustration/book02.html">
				<img src="/img/index/writing.png">
				<p>Creating a writing voice (Slack)</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/release.html">
				<img src="/img/index/twitter01.png">
				<p>Twitter stories (Slack)</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/bell.html">
				<img src="/img/index/sideproj.png">
				<p>The benefits of side projects (Slack)</p>
				
			</a>
		</div>
		
		<div class="proj">
			<a href="/illustration/book03.html">
				<img src="/img/index/release.png">
				<p>a note on release notes (slack)</p>
				
			</a>
		</div>
	
	
	<div class="proj">
		<a href="/illustration/book04.html">
			<img src="/img/index/book02.png">
			<p>adventures in reading</p>
		</a>
	</div>
	
	
	
	<div class="proj">
		<a href="/illustration/writing.html">
			<img src="/img/index/book01.png">
			<p>building a story</p>
			
		</a>
	</div>

	<div class="proj">
		<a href="/illustration/book01.html">
			<img src="/img/index/slackshirt.png">
			<p>Slack, products</p>
			
		</a>
	</div>
	
	<div class="proj">
		<a href="/illustration/backgrounds.html">
			<img src="/img/index/bells.png">
			<p>Backgrounds</p>
			
		</a>
	</div>
	
	<div class="proj">
		<a href="/illustration/postmates.html">
			<img src="/img/index/writing02.png">
			<p>Postmates</p>
			
		</a>
	</div>

	

	
	
	<div class="proj">
		<a href="/illustration/slack.html">
			<img src="/img/index/background.png">
			<p>Slack, products</p>
			
		</a>
	</div>
	
	
		</div> 
	</div>
	
	