

	<div class="wrap">	
		<div class="content">	
		
		<div class="proj">
			<a href="/">
				<img src="/index/bells.png">
			</a>
		</div>
		
		
		<div class="proj">
			<a href="/">
				<img src="/index/book01.png">
			</a>
		</div>
		
		
		
		<div class="proj">
			<a href="/">
				<img src="/index/book02.png">
			</a>
		</div>
		
		<div class="proj">
			<a href="/">
				<img src="/index/book03.png">
			</a>
		</div>
		
		<div class="proj">
			<a href="/">
				<img src="/index/landscapes.png">
			</a>
		</div>
		
		<div class="proj">
			<a href="/">
				<img src="/index/sketches.png">
			</a>
		</div>
	
	
		</div> 
	</div>
	
	