<body>

<header>

<div class="wrap">

	<div style="margin-top: 80px; margin-bottom: 50px; padding-bottom: 15px;">
	
		<a href="/"><img style="height: 110px;float:left;" src="/thumbs/plant.png"></a>




		<div style="float:left">
			<a href="/"><p class="alice">Alice Lee</p></a>
			
			<div style="float:left">
				<p class="navi"><a href="/information.html">information</a></p> 	
				<p class="navi"><a title="Separate site for my branding and illustration work for tech companies" target="_blank" href="http://byalicelee.com/">tech illustrations <img style="height: 8px;width: auto;opacity:.7" src="/thumbs/popout.png"></a></p>
			</div>
			
			<div style="float:left;padding-left:15px;">
				<p class="navi">hello@alice-lee.com</a></p> 	
				<p class="navi">215-253-3615</p>
			</div>
			
			
		</div>	
	<br style="clear:both;">
	
	</div>
	
	
</div>


</header>
