
<body>

<header>

<div class="wrap">

	<div style="margin-top: 80px; padding-bottom:30px;overflow:visible">
	
		<!--	<a href="/"><img style="padding-top: 14px;height: 40px;float:left;" src="/img/header01/alice01.png"></a>-->




<div class="left abstract-left">
	
	<a href="/">
		<img class="alice" src="/img/alice.png">
	</a> 
		
	<br style="clear:both;">
			
	<div style="padding-top: 10px;">
			<p style="float:left;margin-left:128px" class="navi"><a href="/information.html">information</a></p> 	
			<p style="float:left" class="navi"><a title="Separate site for my branding and illustration work for tech companies" target="_blank" href="http://byalicelee.com/">tech illustrations <img style="height: 8px;width: auto;opacity:.7" src="/thumbs/popout.png"></a></p>
			<p style="float:left" class="navi">hello@alice-lee.com</a></p> 	
	</div>	
</div>

<div class="right">
			<img style="width: 320px;height: auto;    padding-top: 17px;" src="/img/header/dog.png">
</div>
	<br style="clear:both;">
	

	
</div>
</div>


</header>
