<body>

<header>

  <div class="wrap">

<div style="margin-top: 80px; margin-bottom: 70px; padding-bottom: 15px; border-bottom: 1px solid #E5E5E5;">
<div class="infoTop" style="width:260px;">
<p class="title">By Alice Lee</p>
<p class="subtitle" style="margin:0 0 0 0;">illustration, brand, letters</p>

<div class="links">
<a href="mailto:hello@byalicelee.com"><img src="/assets/mail.png"></a>
<a href="http://blog.byalicelee.com"><img src="/assets/tumblr.png"></a>
<a href="http://twitter.com/byalicelee"><img src="/assets/twitter.png"></a>
<a href="http://dribbble.com/byalicelee"><img src="/assets/dribbble.png"></a>
</div>

<p></p></div><p></p>

<div class="infoTop">
<p class="info">Hi! I am a SF-based illustrator and recovering biz school graduate who has drawn for The New York Times, Google, Sequoia Capital, Venmo, etc.</p>
</div>

<div class="infoTop" style="padding-right:0px;">
<p class="info" style="padding-bottom: 0px;margin-bottom: 0px;">Previously, I was a designer &amp; illustrator at Dropbox where I worked on the core Dropbox product, Carousel, and Mailbox. 
<a href="/about" style="margin-left:2px;letter-spacing:1px;font-size: 11px;">Learn more →</a> </p>
</div>

<p><br style="clear:both;">
</p></div>

  </div>

</header>
