<head> 
	


  	
  
  <style>

  .box {
    position: fixed;
	 width:900px;
  }
  
  .box-wrapper{
	  position:relative;
	  display:block;
	  margin:0 auto;
	  height:1850px;
	  margin-top: -130px;
	      z-index: -10;
  }

  </style>

<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>
		
</head>



	  <div class="wrap" style="text-align:center;">
		  <img style="width:900px; text-align:center; margin: -120px 40px -10px auto" src="/img/header01/full.png">
		  
		  <!--
		  
  <div class="box-wrapper">


	<img class="box" src="/img/header01/1.png" style="z-index:13" data-scroll-speed="2">
	
	<img class="box" src="/img/header01/2.png" style="z-index:12" data-scroll-speed="1">
	<img class="box" src="/img/header01/3.png" style="z-index:11" data-scroll-speed="1">
	<img class="box" src="/img/header01/4.png" style="z-index:10" data-scroll-speed="2">
	<img class="box" src="/img/header01/5.png" style="z-index:9" data-scroll-speed="2">
	<img class="box" src="/img/header01/6.png" style="z-index:8" data-scroll-speed="2">
<img class="box" src="/img/header01/7.png" style="z-index:7" data-scroll-speed="2">
	<img class="box" src="/img/header01/8.png" style="z-index:6" data-scroll-speed="2">
	<img class="box" src="/img/header01/9.png" style="z-index:5" data-scroll-speed="1">
	
	<br style="clear:both;" />-->

</div>

<br style="clear:both;" />

</div>


<br style="clear:both;" />
