<head> 
	


  	
  
  <style>

  .box {
     left: 15%;
    position: fixed;
	 height:auto
  }
  
  img .box {      mix-blend-mode: multiply;

}
  
  .box-wrapper{
	  position:relative;
	  display:block;
	  margin:0 auto;
	  height:600px;
	  margin-top:-180px;
	  padding-left:30px;
	      z-index: -10;
  }
  
  .multiply {mix-blend-mode: multiply;}

  </style>

<script>
		$(function(){
			$.stellar({
    hideDistantElements: false
				
			});
		});
		</script>
		
</head>



	  <div class="wrap" style="text-align:center;">
		  <!--  <img style="width:900px; text-align:center; margin: -120px 40px -10px auto" src="/img/header02/full.png">
		  -->
		
		  
  <div class="box-wrapper">
	<img class="box multiply" src="/img/header01/0.png" style="z-index:12" data-stellar-ratio="1.5">
	<img class="box multiply" src="/img/header01/0B.png" style="z-index:12" data-stellar-ratio="1.4">

	<img class="box multiply" src="/img/header01/1.png" style="z-index:13" data-stellar-ratio="1">
	<img class="box multiply" src="/img/header01/2.png" style="z-index:12" data-stellar-ratio="1.1">
	<img class="box multiply" src="/img/header01/3.png" style="z-index:11" data-stellar-ratio="1">
	<img class="box " src="/img/header01/4.png" style="z-index:10" data-stellar-ratio="1">
	<img class="box multiply" src="/img/header01/5.png" style="z-index:9" data-stellar-ratio="1.2">
	<img class="box " src="/img/header01/6.png" style="z-index:8" data-stellar-ratio="1.1">
	<img class="box multiply" src="/img/header01/9.png" style="z-index:5" data-stellar-ratio="1">
	
	<img class="box" src="/img/header01/7.png" style="z-index:7" data-stellar-ratio="1">
	<img class="box" src="/img/header01/8.png" style="z-index:6" data-stellar-ratio="1">
	
<!--

		<img class="box multiply" src="/img/header02/1.png" style="z-index:13" data-stellar-ratio="1">
		<img class="box " src="/img/header02/2.png" style="z-index:12" data-stellar-ratio="1.1">
		<img class="box " src="/img/header02/3.png" style="z-index:11" data-stellar-ratio="1">
		<img class="box " src="/img/header02/4.png" style="z-index:10" data-stellar-ratio="1">
		<img class="box " src="/img/header02/5.png" style="z-index:9" data-stellar-ratio="1.2">
		<img class="box " src="/img/header02/6.png" style="z-index:8" data-stellar-ratio="1.1">
		<img class="box " src="/img/header02/9.png" style="z-index:5" data-stellar-ratio="1">
	
		<img class="box" src="/img/header02/7.png" style="z-index:7" data-stellar-ratio="1">
		<img class="box" src="/img/header02/8.png" style="z-index:6" data-stellar-ratio="1.4">
		<img class="box" src="/img/header02/9.png" style="z-index:7" data-stellar-ratio="1">
		<img class="box" src="/img/header02/10.png" style="z-index:6" data-stellar-ratio="1.3">
		<img class="box" src="/img/header02/11.png" style="z-index:7" data-stellar-ratio="1">
		<img class="box" src="/img/header02/12.png" style="z-index:6" data-stellar-ratio="1.6">
		<img class="box" src="/img/header02/13.png" style="z-index:6" data-stellar-ratio="1">
 	  -->
		
	<br style="clear:both;" />

</div>

<br style="clear:both;" />

</div>


<br style="clear:both;" />
