<head> 
	
<style>

  .box {
    position: fixed;
	 height:auto;
 	 margin:0 auto;
	 left:10%;
  }

  .box-wrapper{
	  overflow: auto;
	  display:block;
	  margin:0 auto;
	  width:900px;
	  max-width:100%;
	  padding-left:30px;
	  z-index: -10;
	  display: table;
	  height:auto; 
  }
  
  .multiply {mix-blend-mode: multiply;}

</style>
</head>



	<div class="wrap" style="text-align:center;">

  <div class="box-wrapper">
	<img class="box first-box multiply" src="/img/header01/0.png" style="z-index:12" data-stellar-ratio="1.05">
	<img class="box multiply" src="/img/header01/0B.png" style="z-index:12" data-stellar-ratio="1.15">

	<img class="box multiply" src="/img/header01/1.png" style="z-index:13" data-stellar-ratio="1.03">
	<img class="box multiply" src="/img/header01/2.png" style="z-index:12" data-stellar-ratio="1.2">
	<img class="box multiply" src="/img/header01/3.png" style="z-index:11" data-stellar-ratio="1.35">
	<img class="box " src="/img/header01/4.png" style="z-index:10" data-stellar-ratio="1">
	<img class="box multiply" src="/img/header01/5.png" style="z-index:9" data-stellar-ratio="1.18">
	<img class="box " src="/img/header01/6.png" style="z-index:8" data-stellar-ratio="1.1">
	<img class="box multiply" src="/img/header01/9.png" style="z-index:5" data-stellar-ratio="1.05">
	
	<img class="box" src="/img/header01/7.png" style="z-index:7" data-stellar-ratio="1.03">
	<img class="box" src="/img/header01/8.png" style="z-index:6" data-stellar-ratio="1.13">
	

	<br style="clear:both;" />

</div>


</div>


<script>
		$(function(){
			$.stellar({
    hideDistantElements: false

			});
		});
		
		var biggestHeight = $(".first-box").height();
		$(".box-wrapper").height(biggestHeight);
		
		</script>
<br style="clear:both;" />
